// app global css in SCSS form
@font-face {
  font-family: nanum-square;
  src: url(./font/NanumSquareR.otf);
}

@font-face {
  font-family: notosanskr-regular;
  src: url(./font/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: notosanskr-regular;
  src: url(./font/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: notosanskr-bold;
  src: url(./font/NotoSansKR-Bold.otf);
}

@font-face {
  font-family: nanum-square;
  src: url(./font/NanumSquareR.otf);
}

@font-face {
  font-family: nanum-square-bold;
  src: url(./font/NanumSquareB.otf);
}

.nanum-square {
  font-family: "nanum-square";
}

.notosanskr-regular {
  font-family: "nanum-square-regular";
}

.notosanskr-bold {
  font-family: "nanum-square-bold";
}

.summernote {
  img {
    width: 100% !important;
  }
}

.app {
  font-family: "nanum-square-bold";
  // font-family: "notosanskr-regular";
  // font-family: "NanumSquareLight";
  // font-family: "NanumSquareBold";
  // font-family: "NanumSquareExtraBold";
  // font-family: "NanumSquareAcb";
  // font-family: "NanumSquareAceb";
  // font-family: "NanumSquareAcl";
  // font-family: "NanumSquareAcr";
}
